html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: url('../img/bg.png'); 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.deck {
    width: 300px;
    min-height: 309px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.deck .card {
    height: 60px;
    width: 60px;
    background: black;
    font-size: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deck .card.open {
    background: green;
}
.deck .card.show {
    font-size: 25px;
}
.deck .card.match {
    background: black;
    font-size: 25px;
}
.score-panel {
    text-align: center;
    width: 200px;
}
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.score-panel .stars li {
    display: inline-block;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
}
.modal-text {
    text-align:center;
}

